*{
margin:0;
padding:0;
font-family:"Nunito", sans-serif;
}
header{
position:fixed;
top:0;
left:0;
background:rgba(0,0,0,0.15);
width:92%;
padding:15px 50px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
text-shadow:0 4px 15px black;
z-index:100;
backdrop-filter:blur(3px);
box-shadow:0 4px 15px rgba(0,0,0,0.25);
}
main{
display:flex;
flex-direction:column;
height:100vh;
gap:8rem;
justify-content:center;
align-items:center;
color:white;
text-align:center;
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('11.jpg') center/cover no-repeat;
}
main p{
font-size:1.1rem;
}

main h1{
margin-top:10rem;
padding:30px;
font-size:4rem;
}
h1,h2,h3{
text-align:center;
font-weight:550;
}
nav{
display:flex;
gap:40px;
}
nav a{
text-decoration:none;
color:white;
font-size:1.1rem;
transition:0.4s;
}
nav a:hover{
color:#3355aa
}
button{
padding:15px 30px;
border:none;
background:#3355aa;
color:white;
border-radius:8px;
transition:0.4s;
font-size:1.1rem;
margin:0 30px;
border:4px solid #5566ff;
}
button:hover{
transform:scale(1.08);
background:#112266;
border:4px solid #112266;
}
section{
display:flex;
flex-direction:column;
gap:50px;
padding:70px;
line-height:2rem;
}
section img{
border-radius:8px;
max-width:40rem;
max-height:30rem;
}
form{
display:flex;
gap:40px;
flex-direction:column;
}
form input{
padding:15px 30px;
border:1px solid grey;
display:flex;
justify-content:center;
align-items:center;
}
label{
font-size:1.1rem;
font-weight:bold;
}
.boxes{
padding:40px;
display:flex;
justify-content:center;
align-items:center;
gap:50px;
flex-wrap:wrap;
}
.box{
padding:30px;
gap:20px;
display:flex;
justify-content:center;
align-items:center;
width:30rem;
min-height:20rem;
overflow:hidden;
flex-direction:column;
border-radius:8px;
box-shadow: 0 0 15px rgba(0,0,0,0.15);
background:white;
transition:0.4s;
}
.box:hover{
transform:scale(1.02);
box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

.box img{
max-width:36rem;
transition:0.4s;
}
.box img:hover{
transform:scale(1.02);
}
footer{
background:rgba(0,0,0,0.15);
padding:10px 30px;
display:flex;
justify-content:space-between;
align-items:center;
background:#081525;
color:white;
text-shadow:0 4px 15px black;
}
.a{
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('2.jpg') center/cover no-repeat;
height:75vh;
}
.b{
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('3.jpg') center/cover no-repeat;
height:75vh;

}

.c{
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('4.jpg') center/cover no-repeat;
height:75vh;

}
.d{
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('5.jpg') center/cover no-repeat;
height:75vh;

}
.e{
background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('6.jpg') center/cover no-repeat;
height:75vh;

}

.bg{
background:#f2f2f2;
}
.btn{

background:rgba(0,0,0,0.25);
}
.btn:hover{
background:112266;

}
.big{
height:8rem;
}
.logo{
width:2rem;
max-height:2rem;
border-radius:50%;
margin:0 20px;
margin-bottom:-8px;
}
.gallery{
columns:300px;
}
.gallery img{
max-width:400px;
transition:0.4s;
}
.gallery img:hover{
transform:scale(1.02);
box-shadow: 0 0 15px rgba(0,0,0,0.25);
}
.row{
display:flex;
gap:40px;
}
.men{
font-size:3rem;
}

